<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="/css/main.css">
</head>
<body>
    <div class="container ">

 
    <div class="main">
        <h1>Timing Available for booking</h1>
        <% if (tasks.length > 0) { %>
            <div class="showData">
                <% tasks.forEach((task) => { %>
                    <% if (task.seat > 0) { %>
                        <button class="showitem" onclick="handleButton('<%=task.id%>')">
                            <h3><%= task.time %></h3>
                            <p>Available: <%= task.seat %></p>
                        </button>
                    <% } %>
                <% }); %>
            </div>
        <% } else { %>
            <p>No tasks found.</p>
        <% } %>
        
    </div>
    <div >
        <form action="" class="showForm">
            <div>
                <label for="name">Name</label>
                <input type="text" name="name" id="name">

            </div>
            <div>
                <label for="email">Email</label>
                <input type="email" name="email" id="email">

            </div>
            <div>
                <button type="submit">book slot</button>
            </div>
        </form>

    </div>
   
    
</div>
<% if(User.length>0){
    %> <div class="showUser">
        <% User.forEach((item)=>{
            %> <div class="btn">
                

                    <h1><%=item.name%> </h1>
                    <p>your meeting seclude</p>
                    <li><a href="#">Go to google meet</a></li>
                
                
                    <button onclick="handleDelete('<%=item.id%>')">
                        cancel meet
                    </button>
                
            </div> <%
        }) %>

    </div> <%

}%>

    
</body>
</html>
<script src="https://cdnjs.cloudflare.com/ajax/libs/axios/1.6.7/axios.min.js" integrity="sha512-NQfB/bDaB8kaSXF8E77JjhHG5PM6XVRxvHzkZiwl3ddWCEPBa23T76MuWSwAJdMGJnmQqM0VeY9kFszsrBEFrQ==" crossorigin="anonymous" referrerpolicy="no-referrer"></script>

<script>
    const url='http//localhost:2345'
    const formData=document.querySelector("form")
   function handleButton(id){
     formData.style.display="block"
     formData.addEventListener("submit",(event)=>{
        event.preventDefault()
        let data={
            
            name:formData.elements[0].value,
            email:formData.elements[1].value,
            taskId:id

        }
        
        axios.post(`/auth/addUser`,data).then((res)=>{
            if(res.data){
                alert(res.data)
                formData.style.display="none"
                window.location.reload()
            }
        }).catch((err)=>console.log(err))
     })
   }
   function handleDelete(id){
     axios.delete(`/auth/delete/${id}`).then((res)=>{
        alert(res.data)
        window.location.reload()
     }).catch((err)=>console.log(err))
   }
</script>